.form-group {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor:pointer;
}

.box {
  background: #230078;
  margin:3px;
  border-radius: 10%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.form-control, .form-group, .col-form-label {
  max-height: 25px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 11px!important;
}

#activity-form, .form-small {
  font-size: 14px;
}

select input {

}